version: 2.1

jobs:
  build:
    working_directory: ~/mytmp
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main.py
      - run:
          command: |
            mkdir -p ~/mytmp/core_dumps
            cp core.* ~/mytmp/core_dumps
          when: on_fail
      - store_artifacts:
          path: ~/mytmp/core_dumps        
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main-test.py
   

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
